._*
.bundle
.DS_Store
.idea
.rspec-local
.ruby-gemset
.rvmrc
.yardoc
*~
config/certs
config/deploy/*
!config/deploy/development.rb
config/environments/*
!config/environments/development.rb
coverage
coverage.data
doc
pkg
*.iml
