[submodule "hydra-jetty"]
	path = hydra-jetty
	url = http://github.com/projecthydra/hydra-jetty
[submodule "sdr2_example_objects"]
	path = sdr2_example_objects
	url = /afs/ir/dev/dlss/git/sdr/sdr2_example_objects
