._*
.binstubs
.bundle
.capistrano/*
.DS_Store
.idea
.rspec-local
.ruby-gemset
.rvmrc
.ruby-version
.yardoc
*~
config/certs
config/environments/*
!config/environments/development.rb
!config/environments/robots_development.yml
coverage
coverage.data
doc
pkg
vendor
*.iml
deploy-log-*
