._*
.bundle
.capistrano/*
.DS_Store
.idea
.rspec-local
.ruby-gemset
.rvmrc
.ruby-version
.yardoc
*~
config/certs
config/deploy/*
!config/deploy/localhost.rb
!config/deploy/server_settings.rb
config/environments/*
!config/environments/development.rb
!config/environments/robots_development.yml
coverage
coverage.data
doc
pkg
*.iml
deploy-log-*
